<h2>Recently added:</h2>
<div>
  <% @movies.each do |movie| %>
  <%= link_to image_tag(movie.poster_image_url.thumb), movie_path(movie) %>
  <h4><%= link_to movie.title, movie_path(movie) %></h4>
  <h4><%= formatted_date(movie.release_date) %></h4>
  <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
  <p><%= movie.description %></p>
  <hr>
  <% end %>
</div> 
